/* Estilo para el cuerpo de la página */
.bod {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
/* Estilos para elementos con la clase opnav */
.opnav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}


/* Estilo para el contenedor de las imágenes */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Estilo para las imágenes */
.imgC {
  max-width: 100%;
  height: auto;
  border: 2px solid #555;
  border-radius: 10px;
}

/* Estilo para el enlace al CV */
a {
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #007BFF;
  margin-top: 20px;
}

a:hover {
  color: #0056b3;
}

